In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Python crash course\\Datasets\\Property_with_Feature_Engineering Zameen.com.csv')

In [3]:
df

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,area_marla,area_sqft,purpose,bedrooms,date_added,year,month,day,agency,agent
0,347795,8,https://www.zameen.com/Property/lahore_model_t...,House,220000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,120.0,32670.12,For Sale,0,07-17-2019,2019,7,17,Real Biz International,Usama Khan
1,482892,48,https://www.zameen.com/Property/lahore_multan_...,House,40000000,Very High,Multan Road,Lahore,Punjab,"Multan Road, Lahore, Punjab",...,20.0,5445.02,For Sale,5,10-06-2018,2018,10,6,Khan Estate,mohsinkhan and B
2,555962,75,https://www.zameen.com/Property/eden_eden_aven...,House,9500000,Low,Eden,Lahore,Punjab,"Eden, Lahore, Punjab",...,9.0,2450.26,For Sale,3,07-03-2019,2019,7,3,Shahum Estate 2,"Babar Hameed, Raja Omar"
3,562843,3821,https://www.zameen.com/Property/gulberg_2_gulb...,House,125000000,Very High,Gulberg,Lahore,Punjab,"Gulberg, Lahore, Punjab",...,20.0,5445.02,For Sale,8,04-04-2019,2019,4,4,NaN,NaN
4,686990,3522,https://www.zameen.com/Property/allama_iqbal_t...,House,21000000,High,Allama Iqbal Town,Lahore,Punjab,"Allama Iqbal Town, Lahore, Punjab",...,11.0,2994.76,For Sale,6,04-04-2019,2019,4,4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191388,17468383,174,https://www.zameen.com/Property/islamabad_i_8_...,Upper Portion,70000,Very High,I-8,Islamabad,Islamabad Capital,"I-8, Islamabad, Islamabad Capital",...,12.4,3375.91,For Rent,3,07-24-2019,2019,7,24,Property World,Zafran
191389,17468384,174,https://www.zameen.com/Property/islamabad_i_8_...,Upper Portion,40000,Medium,I-8,Islamabad,Islamabad Capital,"I-8, Islamabad, Islamabad Capital",...,12.4,3375.91,For Rent,2,07-24-2019,2019,7,24,Property World,Zafran
191390,17468482,167,https://www.zameen.com/Property/islamabad_g_10...,House,160000,High,G-10,Islamabad,Islamabad Capital,"G-10, Islamabad, Islamabad Capital",...,20.0,5445.02,For Rent,6,07-24-2019,2019,7,24,Azaan Associates,Usman Rehman
191391,17468586,339,https://www.zameen.com/Property/dha_defence_dh...,Flat,25000,Low,DHA Defence,Islamabad,Islamabad Capital,"DHA Defence, Islamabad, Islamabad Capital",...,2.7,735.08,For Rent,2,07-24-2019,2019,7,24,New National Properties,TALHA MIAN AHMAD
191392,17468660,3421,https://www.zameen.com/Property/i_10_i_10_2_i_...,Upper Portion,26000,Low,I-10,Islamabad,Islamabad Capital,"I-10, Islamabad, Islamabad Capital",...,0.0,0.00,For Rent,3,07-24-2019,2019,7,24,Select Homes,"Qaiser Shahzad, Chaudhary Waseem"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191393 entries, 0 to 191392
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   property_id    191393 non-null  int64
 1   location_id    191393 non-null  int64
 2   page_url       191393 non-null  object
 3   property_type  191393 non-null  object
 4   price          191393 non-null  int64
 5   price_bin      191393 non-null  object
 6   location       191393 non-null  object
 7   city           191393 non-null  object
 8   province_name  191393 non-null  object
 9   locality       191393 non-null  object
 10  latitude       191393 non-null  float64
 11  longitude      191393 non-null  float64
 12  baths          191393 non-null  int64
 13  area           191393 non-null  object
 14  area_marla     191393 non-null  float64
 15  area_sqft      191393 non-null  float64
 16  purpose        191393 non-null  object
 17  bedrooms       191393 non-null  int64
 18  date_added     191393 non-null  object
 19  year           191393 non-null  int64
 20  month          191393 non-null  int64
 21  day            191393 non-null  int64
 22  agency         144014 non-null  object
 23  agent          144013 non-null  object
dtypes: float64(4), int64(8), object(12)
memory usage: 35.0+ MB

In [5]:
df.drop(['property_id','location_id','page_url','price_bin','location','city','province_name','locality','area','area_sqft','date_added','year','month','day','agency','agent','latitude','longitude'],inplace=True,axis=1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191393 entries, 0 to 191392
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   property_type  191393 non-null  object
 1   price          191393 non-null  int64
 2   baths          191393 non-null  int64
 3   area_marla     191393 non-null  float64
 4   purpose        191393 non-null  object
 5   bedrooms       191393 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 8.8+ MB

In [7]:
df['purpose'].unique()

array(['For Sale', 'For Rent'], dtype=object)

In [8]:
df['property_type'].replace({'House':0, 'Flat':1, 'Lower Portion':2, 'Penthouse':3, 'Upper Portion':4,'Farm House':5, 'Room':6},inplace=True)

In [9]:
df['purpose'].replace({'For Sale':0, 'For Rent':1},inplace=True)

In [10]:
df

        property_type      price  baths  area_marla  purpose  bedrooms
0                   0  220000000      0       120.0        0         0
1                   0   40000000      5        20.0        0         5
2                   0    9500000      0         9.0        0         3
3                   0  125000000      7        20.0        0         8
4                   0   21000000      5        11.0        0         6
...               ...        ...    ...         ...      ...       ...
191388              4      70000      0        12.4        1         3
191389              4      40000      0        12.4        1         2
191390              0     160000      6        20.0        1         6
191391              1      25000      2         2.7        1         2
191392              4      26000      1         0.0        1         3

[191393 rows x 6 columns]

In [11]:
x=df.drop('price',axis=1)
y=df['price']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [22]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [15]:
rf=RandomForestRegressor(n_estimators=50)

In [16]:
rf.fit(X_train,y_train)

RandomForestRegressor(n_estimators=50)

In [24]:
rf_prediction=rf.predict(X_test)

In [25]:
mean_absolute_error(rf_prediction,y_test)

5716501.373724685

In [17]:
import pickle

In [18]:
pickle.dump(rf,open('model_pricing.pkl','wb'))

In [19]:
model=pickle.load(open('model_pricing.pkl','rb'))

In [20]:
print(model.predict([[2,3,10,1,2]]))

[34869.08108275]

C:\Users\Qasim\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [21]:
X_train.columns

Index(['property_type', 'baths', 'area_marla', 'purpose', 'bedrooms'], dtype='object')